:root {
  /* default theme color */
  /* can be overrided by uses `themeConfig` option */
  --slidev-theme-secondary: #343a40;
  --slidev-theme-primary: #27D69F;
  --slidev-theme-tertiary: #25CB97;
}

h1 {
  @apply text-primary;
}

.slidev-layout {
  li {
    list-style: disc;
    @apply pl-4;
  }

  li::marker {
    @apply text-primary;
  }

  a {
    @apply text-primary underline border-none;
  }
}

.slidev-layout {
  @apply pl-20 pr-8 pb-10;
}

.slidev-layout.cover,
.slidev-layout.intro {
  @apply h-full grid;

  .slot * {
    @apply bg-primary p-2 w-max;
  }

  h1 {
    @apply text-5xl leading-20 text-white;
  }

  h1 + p {
    @apply -mt-2 mb-4;
  }

  p + h2,
  ul + h2,
  table + h2 {
    @apply mt-10;
  }
}

.slidev-layout.cover {
  h1 {
    @apply mb-35;
  }
}

.slidev-layout.intro {
  h1 {
    @apply fw-bold;
  }

  p {
    @apply text-5xl;
  }
}

.slidev-layout.full {
  display: flex;

  .slidev-code-wrapper {
    overflow: auto;
    flex: 1;
  }
}

.slidev-layout.quote {
  blockquote p {
    @apply text-5 leading-10;
  }
}
